<?php

return [
	'app' => [
		'file_dir'      => '',
		'phantomjs'     => 'phantomjs',
		'script_file'   => '',
		'capture_url'   => '',
		'base_url'      => '/simon/iati-view/',

	],
	'db' => [
		'adapter'  => 'Mysql',
		'host'     => 'localhost',
		'username' => 'webuser',
		'password' => 'webuser123',
		'name'     => 'simon_iati_view',
	],
];
